*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    
}
header{
    width: 100%;
    height: 100vh;
}
.container{
    width: 1140px;
    margin: auto;
}

.container .nav{
    width: 100%;
    height: 9vh;
    background: rgb(255, 255, 255);
    display: flex;
}

.left{
    flex-basis: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.center{
    flex-basis: 55%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.center ul li{
    display: inline-block;
    margin-right: 20px;
   
}
.center ul li a:hover{
    border-bottom: 3px solid #ff6064;
}

.center ul li a{
    color: #292640;
    font-weight: 600;
    padding-bottom: 5px;
    transition: all 0.2s linear;
}





.right{
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right button{
    padding: 16px 22px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #ff6162;
    
  
}

.right button a{
    color: white;
    font-weight: 700;
    font-size: 14px;
}
.section-1{
    width: 100%;
    height:91vh;
    background:rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.sec-left{
    flex-basis: 40%;
    
}

.sec-left h2{
    font-size: 44px;
    color: #292640;
    margin-bottom: 25px;
}

.sec-left p{
    font-size: 16px;
    color: #a2a4a5;
    line-height: 20px;
}


.sec-right{
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sec-right img{
  width: 100%;
}

.sec-2{
    width: 100%;
    height: 90vh;
   
}

.write{
    width: 100%;
    height: 14vh;
   
    text-align: center;
}

 .write h2{
     font-size: 25px;
     color: #292640;
     margin-bottom: 20px; 
     

}
.write p{
    font-size: 14px;
    line-height: 20px;
    color: #b7b7b7;
}


.box{
    width: 100%;
    height: 76vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -141px;
   
}

.bom{
    flex-basis: 24%;
}
.bom .m-1{
    width: 310px;
    box-shadow: 2px 2px 12px #414040;
    transition: all 0.5s linear;
}


.bom .m-1:hover{
transform: scale(1.2);

}

.bom span{
    display: block;
    text-align: center;
    margin-top: 10px;
}

.sec-3{
    width: 100%;
    height: 94vh;
}
.content{
width: 100%;
height: 12vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.con-box{
height: 80vh;
width: 100%;
display: grid;
grid-template-columns: auto auto auto ;
grid-template-rows: 274px 274px;
gap:15px;


}
.boxer{
    background-color: #f5f5f5;
    display: grid;
    grid-template-rows: 102px 35px 132px;
    grid-template-columns: auto;
    text-align: center;
    border-radius: 20px;
    
}
.boxer h3{
    margin-top: 15px;
    color: #46494e;
}
.boxer p{
    font-size: 14px;
    padding: 15px;
    color: #959595;
}
.icon{
    width: 70px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
}
.icon i{
    color: #ff6064;
}
footer{
    width: 100%;
    height: 50vh;
    background-color: #292641;
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
footer h1{
    text-align: center;
    color: #f5f5f5;
}
footer button{
   background-color: #ff6162;
    margin: 20px;
    padding: 16px 26px;
    border: none;
    outline: none;
border-radius: 6px;
}
footer button a{
    color: white;
}
footer h6{
    color: rgb(180, 180, 180);
    margin-top: 10px;
    font-size: 20px;
}
